.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* background-color: #2c2c2c; */
}

.skillsContainer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.skillsImagesDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.skill {
  background-color: #0f172a;
  border-radius: 10px;
  width: 13%;
  height: 10%;
  text-align: center;
  padding: 0.5rem;
  /* transition: 0.5sec; */
  padding: 10px;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .skill:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.skill h3{
  color: white;
  font-weight: 700;
  padding: 5px;
}

.skill img {
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  cursor: pointer;
}