.contactHeading{
  text-align: center;
  padding: 2rem;
  color: white;
  font-size: 2rem;
}

.contactContainer{
  background-color: #0f172a;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.contactContent{
  /* background-color: #0f172a; */
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
  line-height: 1.7;
}

.contactContent p{
  padding: 1rem;
}

.contactContent img{
  width: 4%;
  height: 2%;
  color: white;
  /* border: 1px solid white; */
}

  .emailSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .emailSection a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
.socilaLinks{
  padding-bottom: 2rem;
}
  .socilaLinks p {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 2rem;

  }

  .socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }

.socialIcons svg{
  width: 80px;
  height: 40px;
}


.socialIcons svg:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

