* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.aboutContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 89vh;
}

.about {
  background-color: #0f172a;
  border-radius: 10px;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #daddad;
  width: 65%;
  /* height: 64%; */
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #007bff;
  object-fit: cover;
  /* margin-left: 70px; */
}

.profileDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileDiv h2{
  padding-top: 15px;
  font-size: 1.7rem;
}

.aboutContent {
  flex: 1;
  max-width: 600px;
}

.aboutContent p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: 500;
}


@media (max-width: 600px) {
  .aboutContainer {
    height: auto;
    padding: 10px;
  }

  .about {
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    padding: 1rem;
  }

  .profileImage {
    width: 150px;
    height: 150px;
  }

  .profileDiv h2 {
    font-size: 1.4rem;
    padding-top: 10px;
    text-align: center;
  }

  .aboutContent {
    max-width: 100%;
  }

  .aboutContent p {
    font-size: 16px;
    margin-left: 0;
    text-align: justify;
  }

  .aboutContent > div {
    justify-content: center;
    gap: 8px;
  }

  .aboutContent > div p {
    font-size: 14px;
  }

  svg.icon {
    width: 24px !important;
    height: 24px !important;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 600px) {
  .aboutContainer {
    padding-top: 80px;
  }
  /* You can add this padding-top to other sections as well */
  #skills, #experience, #projects, #contact {
    padding-top: 80px;
  }
}
